<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.1, maximum-scale=4, user-scalable=yes">
  <link rel="stylesheet" href="./static/css/audio.css">
  <script src="./static/js/audio.js"></script>
</head>
<body>
  <div id="Control">
    <button id="MicOn">マイクの使用を開始</button><br/>
    <button id="RecStart">録音開始</button>
    <button id="RecStop" disabled>録音終了</button><br>
    <div id="RecMime"></div>
  </div>
</body>
</html>
